<div class="filters-container">
  <form action="/products" method="GET">
    <fieldset >
      <span>
        <legend>Category</legend>
      </span>
      
      <div class="category-options">
        <% categories.forEach((category) => { %>
          <div class="category-container">
            <input type="checkbox" name="category" id="<%= category.category_id %>" value="<%= category.category_id %>" <%= selectedCategories.includes(category.category_id) ? 'checked' : '' %>>
            <label for="<%= category.category_id %>"><%= category.category_name %></label>
          </div>
        <% }); %>
      </div>
    </fieldset>

    <div class="sort-button-container">
      <fieldset class="sort-by">
        <label for="sort">Sort By</label>
        <select name="sort" id="sort">
          <option value="none" <%= sort==='none' ? 'selected' : '' %>>--</option>
          <option value="priceAsc" <%= sort==='priceAsc' ? 'selected' : '' %>>Price Low to High</option>
          <option value="priceDesc" <%= sort==='priceDesc' ? 'selected' : '' %>>Price High to Low</option>
        </select>
      </fieldset>
      <button type="submit">Apply</button>
    </div>
  </form>
</div>