<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#e3baf7" />
    <link rel="icon" href="/icons/stock_and_shop_logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/product.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>Stock & Shop | <%= product.product_name %></title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="main-container">
        <div class="product-container" style="background-color: <%= product.category_color %>">
          <div class="back-img-container">
            <a href="/products" class="button">Back to Products</a>
            <img src="<%= product.product_image_url %>" alt="<%= product.product_name %>">
          </div>
          <div class="product-info">
            <div class="buttons-container">
              <a class="button category-button" href="/products?category=<%= product.category_id %>" class="product-category"><%= product.category_name %></a>
              <div class="update-delete-button-container">
                <a href="/update/<%= product.product_id %>" class="button update-button">Update</a>
                <form action="/delete/product" method="POST">
                  <input type="number" name="product_id" value="<%= product.product_id %>">
                  <button type="submit" class="delete">Delete</button>
                </form>
              </div>
            </div>
            <div class="product-core">
              <p class="product-brand"><%= product.brand_name %></p>
              <h1><%= product.product_name %></h1>
              <p class="product-price">$<%= product.price %></p>
              <p>Quantity: <%= product.quantity %></p>
            </div>
            <p class="product-description"><%= product.description %></p>
          </div>
        </div>
        
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
