<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icons/stock_and_shop_logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/products.css" />
    <link rel="stylesheet" href="/styles/filter.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>Stock & Shop | <%= title %></title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="main-container">
        <div class="heading-container">
          <h1>Products</h1>
          <a class="button" href="/add/product">Add Product</a>
        </div>
        <div class="contents-container">
          <div class="filters-container">
            <form action="/products" method="GET">
              <fieldset >
                <legend>Category</legend>
                
                <div class="category-options">
                  <% categories.forEach((category) => { %>
                    <div class="category-container">
                      <input type="checkbox" name="category" id="<%= category.category_id %>" value="<%= category.category_id %>" <%= selectedCategories.includes(category.category_id) ? 'checked' : '' %>>
                      <label for="<%= category.category_id %>"><%= category.category_name %></label>
                    </div>
                  <% }); %>
                </div>
              </fieldset>

              <div class="sort-button-container">
                <fieldset class="sort-by">
                  <label for="sort">Sort By</label>
                  <select name="sort" id="sort">
                    <option value="none" <%= sort==='none' ? 'selected' : '' %>>--</option>
                    <option value="priceAsc" <%= sort==='priceAsc' ? 'selected' : '' %>>Price Low to High</option>
                    <option value="priceDesc" <%= sort==='priceDesc' ? 'selected' : '' %>>Price High to Low</option>
                  </select>
                </fieldset>
                <button type="submit">Apply</button>
              </div>
            </form>
          </div>
          <div class="products-container">
            <% products.forEach((product) => { %>
              <%- include('partials/product-card', {product: product}); %>
            <% }); %>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
